*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color:rgb(1, 31, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.container{
  border:1px solid rgb(1, 31, 31); 
  background-color:rgb(2, 65, 65);
  width:300px;
  height:455px;
  border-radius:5px;
}

 

.wrapper form  {
  height:140px;
  width:298px;
}

.wrapper form input{
  width:100%;
  height:100%;
  border:1px rgb(2, 65, 65);
  border-bottom: 1px solid  rgb(2, 43, 43);;
  outline:none;
  text-align: right;
  padding-right:10px;
  font-size : 35px;
  font-weight:bold;
  border-radius:5px 5px 0px 0px;
  pointer-events: none;
  background-color:rgb(2, 65, 65);
  color:#fff;
}
 
.btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:10px; 
 
}

.btns .btn{
  flex: 0 0 22%;
  margin:5px auto;
  width:30px;   
  height:50px;              
  font-size:20px;
  cursor:pointer;
  color:#fff;  border-radius:5px;
}

.btn-orange{
  background-color:rgb(1, 39, 39);
  border: none;
  align-items:center;
  font-size:20px;  border-radius:5px;  border: 1px solid transparent;
}
.btn-gray{
  background-color:rgb(1, 39, 39);
  border:1px solid transparent;
}

.btn-clear , .btn-equal, .btn-cval,.btn-dval {
  width:30px;   
  height:50px;              
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  flex: 0 0 22%;
  border-radius:5px;
  margin:5px auto;
  color:#fff;
  background-color:rgb(1, 39, 39);
  border: 1px solid transparent;
}